
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --main-dark-color: rgb(20, 29, 47);
    --main-light-color: #1E2A47;
    --main-typography-color: #fff;
    --empty-info-color: "";
    --link-color: #0079FF;
    --secondary-color: #90A4D4;
    --box-shadow: unset;
}
/* *** Set variable for theme light *** */
[data-theme="light"] {
    --main-dark-color: #F6F8FF;
    --main-light-color: #FEFEFE;
    --main-typography-color: #4B6A9B;
    --logo-color: #222731;
    --secondary-typography-color: #2B3442;
    --empty-info-color: "";
    --link-color: #0079FF;
    --secondary-color: #90A4D4;
    --box-shadow: 0 1rem 40px rgb(70 96 187 / 20%);
}

/* HTML Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

path {
    fill: red !important;
}
body {
    background-color: var(--main-dark-color);
    color: var(--main-typography-color);
    transition: 0.25s;
}
main {
    padding: 2rem 1.5rem;
}
a {
    text-decoration: none;
}
/* Header Section */
.app-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.theme-container {
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    gap: 1rem;
}
.theme-container svg {
    height: 20px;
    width: 20px;
}
.theme-container p {
    font-size: 1.25rem;
    text-transform: uppercase;
}
.theme-container:hover {
    color: var(--secondary-color);
    cursor: pointer;
}
/* Form Search Section */
form {
    display: flex;
    align-items: center;
    background-color: var(--main-light-color);
    border-radius: .625rem;
    margin: 2.25rem 0 1rem;
    padding: .5rem;
    width: 100%;
}
form > img {
    margin-left: 1rem;
    height: 1.5rem;
}
input[type=text] {
    border: none;
    background: none;
    color: #fff;
    width: calc(100% - 70px);
    margin-left: 0.6rem;
}
input:focus {
    outline: none;
}
input[type=submit] {
    color: #fff;
    cursor: pointer;
    background-color: #0079FF;
    border: none;
    border-radius: .625rem;
    padding: 0.78125rem 1rem;
}
input[type=submit]:hover {
    background-color: #60ABFF;
}
.error-message {
    color: red;
    display: none;
    min-width: 6.75rem;
}

/* Result Display Card */
.card-container, .search-form {
    box-shadow: var(--box-shadow);
}

.card-container {
    display: grid;
    gap: 1.5rem;
    background-color: var(--main-light-color);
    border-radius: .625rem;
    padding: 1.5rem;
}
.profile-container {
    display: flex;
    align-items: center;
    /* gap: 1.25rem; */
}
.profile-image {
    height: 4.375rem;
    margin-right: 2.5625rem;
    width: 4.375rem;
    border-radius: 50%;
}
.github-link {
    color: var(--link-color);
}
.github-link:hover {
    text-decoration: underline;
}

.repository-status {
    display: flex;
    background-color: var(--main-dark-color);
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: .625rem;
}
.repository-status p {
    font-weight: 700;
}
.repository-status h3 {
    font-size: 11px;
}
/* Contact Container */
.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-description {
    color: var(--main-typography-color);
}
.contact-item {
    display: flex;
    align-items: center;
    gap: .75rem;
}
.contact-item a:hover {
    text-decoration: underline;
}
.contact-item svg path {
    fill: green !important;
}
.address-container :nth-child(1) {
    margin-right: 0.35rem;
}
.not-found > :nth-child(2){
    color: var(--secondary-color);
}
.not-found > svg {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(320deg) brightness(101%) contrast(101%);
}

@media screen and (min-width:768px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95vh;
        padding: 1rem 6.125rem;
    }
    form {
        margin-bottom: 1.5rem;
    }
    input[type=submit] {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .card-container {
        min-width: 573px;
        padding: 2.5rem;
    }
    .profile-image {
        width: 7.3125rem;
        height: 7.3125rem;
    }   
    .bio {
        margin-bottom: .5rem;
    }
    .repository-status {
        justify-content: space-between;
        text-align: unset;
        margin: 0 2.5rem .5rem;
        padding: 1rem 2rem;
    }
    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .website-container {
        grid-row: 2/ span2;
    }
}

@media screen and (min-width: 1024px){
    form > img {
        margin-right: 1.5rem;
    }

    .card-container {
        min-width: 730px;
        padding: 3rem;
    }
}
